::ng-deep .danger {
    background-color: red;
  }
  
  ::ng-deep .warning {
    background-color: yellow;
  }
  
  ::ng-deep  .success {
    background-color: green;
  }

  ::ng-deep #prog>.dx-progressbar-range {  
    background-color: red  
  }  

  .kolorek{
    background-color: green; 
  }

  /* ::ng-deep.progressBar{
    border: 1px solid #000;
  }
   */