::ng-deep #tvGrid {
  padding-left: 20px;
  padding-right: 20px;
  
}


::ng-deep #opak .dx-grid .dx-row > td {
  padding: 3px;
}
.smallGrid{
  padding: 0px;
}

::ng-deep .dx-datagrid .dx-data-row .dx-datagrid-text-content {
  font-family: 'Arial', sans-serif;  /* Zmieniamy rodzinę czcionek */
  font-size: 14px;                   /* Rozmiar czcionki */
  color: green;                      /* Kolor tekstu */
}

/* Zmieniamy styl dla komórek w kolumnie "name" */
::ng-deep .dx-datagrid .dx-data-row .dx-datagrid-text-content[name='tytul'] {
  font-weight: bold !important;
  color: blue !important;   

}



::ng-deep  .dx-datagrid .dx-row > td {
  padding: 2px !important;
}

.ramkaOpisu {
    height: 2.5em;
    max-height: 2.5em;
    white-space: nowrap;
    text-wrap: auto;
    overflow: hidden;
    display: flow;
    text-overflow: ellipsis;
    align-items: center; /* Centrowanie pionowe */
}

.title-style2{
  color: black;
  font-size: 16px;
  font-weight: bold;
  align-items: center; /* Centrowanie pionowe */

}

::ng-deep .ramkaOpisu> a {
  color:black
}

.container-ico {
  display: flex;
  flex-direction: column; /* Ustawienie pionowe */
  gap: 1px; /* Odstęp między divami */
  display: flex;
  justify-content: center;
  align-items: center;
}



.trwa-teraz {
  background-color: green;
  height: 5px;
  width: 55%;
}

.trwa-zaChwile {
  height: 6px;
  width: 55%;
  background-color: orangered;


}

.trwa-Future {
  background-color: black;
  height: 3px;
  width: 40%;
}

.trwa-Past {
  background-color:black;
  height: 2px;
}


.colored-div {
  background-color: blue; /* Kolor tła */
}

