

<div>
  <!-- <span>
    <div class="textarea-wrapper">
      <dx-text-area [(value)]="inputData" [autoResizeEnabled]="true"
        [inputAttr]="{ 'aria-label': 'Notes' }"  >
      </dx-text-area>
    </div>
    <dx-button text="szukaj"   (onClick)="geminiFind()"></dx-button>
    <div class="textarea-wrapper">
      <dx-text-area
        [(value)]="outputData"
        [autoResizeEnabled]="true"
        [inputAttr]="{ 'aria-label': 'Notes' }"
      >
      </dx-text-area>
    </div>
  </span> -->

  

  <dx-data-grid  id="tvGrid" class="smallGrid"  keyExpr="id" [height]="'880px'"
  [dataSource]="tvs"  [focusedRowEnabled]="true" [focusedRowKey]="focusedId" (onRowPrepared)="onRowPrepared($event)"
    
  >
   keyExpr="id"  [dataSource]="tvs"  [focusedRowEnabled]="true" [focusedRowKey]="focusedId" >
  
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="infinite" ></dxo-scrolling>

  <dxo-header-filter [visible]="true"><dxo-search [enabled]="true"></dxo-search></dxo-header-filter>
  <dxo-search-panel [visible]="true" width="240" placeholder="szukaj..." location="before"></dxo-search-panel>

<dxi-column name="trwanie" width="50" dataField="typProgramu"
>
<div *dxTemplate="let data of 'cellTemplate'">
  
</div>
</dxi-column>  

<dxi-column name="tytul" dataField="tytul" width="20%" cellTemplate="nameTempl" >tytul</dxi-column>
<dxi-column name="ico" dataField="powiadom" width="48" ></dxi-column>
<dxi-column name="Od" dataField="data"  caption="Od"  dataType="date" format="HH:mm" width="70px">
  <dxo-sorting></dxo-sorting>
</dxi-column>
<dxi-column name="Do" dataField="dataDo" caption="Do" dataType="date" format="HH:mm" width="70px"></dxi-column>
<dxi-column name="Progress" dataField="Progress" cellTemplate="progressTemplate" width="150px"></dxi-column>
<dxi-column name="kategoria"  dataField="kategoria" width="100px"></dxi-column>
<dxi-column dataField="kategoriaOpis" caption="typ" width="150px"></dxi-column>
<dxi-column dataField="programNazwa" width="auto">programNazwa</dxi-column>
<dxi-column name="opis" dataField="opis"  cellTemplate="opisTempl" >programNazwa</dxi-column>
<dxi-column name="Prod" dataField="produkcja" width="120px" ></dxi-column>

<div *dxTemplate="let data1 of 'AktualneTmpl'">
  <div class="ramkaOpisu">{{data1.data.trwanie}}</div>
  <!-- <div [ngClass]   class="ramkaOpisu">{{nowClassyfication(data.data)}}</div> -->
</div>




<div *dxTemplate="let data of 'opisTempl'">
  <div class="ramkaOpisu">{{data.data.opis}}</div>
</div>

<div *dxTemplate="let data of 'nameTempl'">
  <div class="ramkaOpisu title-font">
    <a target="_blank" href="https://www.teleman.pl{{data.data.link}}">{{data.data.tytul}}</a>
  </div>
</div>

<div *dxTemplate="let dat of 'progressTemplate'">
  <app-progress-special [start]='dat.data.data'  [end]='dat.data.dataDo'></app-progress-special>
</div>

<dxo-toolbar>
  <!-- <dxi-item location="before">
    <speech-comp #speech></speech-comp>
  </dxi-item> -->

  <dxi-item location="before">
    <div *dxTemplate>
      <dx-switch [value]="odTeraz" onText="Pokaż"  offText="Ukryj"  (onValueChanged)="switchValueChanged($event)" ></dx-switch>
    </div>

  </dxi-item>

   <dxi-item location="after">
    <div *dxTemplate>
      <app-my-lista [lista]="typyProgramow" (newItemEvent)="setFilter($event)"></app-my-lista>
    </div>
  </dxi-item>

  <dxi-item location="after" >
    <div *dxTemplate>
      <dx-select-box
        width="225"
        [items]="kanaly"
        [inputAttr]="{ 'aria-label': 'Value' }"
        displayExpr="programNazwa"
        valueExpr="id"
        value="selectedKanal"
        (onValueChanged)="programChanged($event)">
      </dx-select-box>
    </div>
  </dxi-item>
  
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button icon="refresh" (onClick)="refreshData()"> </dx-button>
    </div>
  </dxi-item>

  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button icon="bookmark" (onClick)="resetGrid()"></dx-button>
    </div>
  </dxi-item>
  
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button icon="cloud-download" (onClick)="GetData()"></dx-button>
    </div>
  </dxi-item>

<dxi-item name="columnChooserButton" ></dxi-item>
  <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
</dxo-toolbar>

</dx-data-grid>
  

<!-- <dx-popup [(visible)]="popupVisible" [hideOnOutsideClick]="true" [width]="800" [height]="600" [showTitle]="true" title="Podgląd strony">
  <div *dxTemplate="let data of 'content'">
    <div class="ramkaOpisu">{{data}}</div>
  </div>
</dx-popup> -->

</div>